[submodule "juhenriquez/l10n-dominicana"]
	path = juhenriquez/l10n-dominicana
	url = git@github.com:juhenriquez/l10n-dominicana.git
	branch = 12.0

[submodule "odoo-dominicana/l10n-dominicana"]
	path = odoo-dominicana/l10n-dominicana
	url = git@github.com:odoo-dominicana/l10n-dominicana.git
	branch = 12.0
